body {
    text-align: center;
}
.container{
  
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    
}

.box{
    
    height: 250px;
    width : 250px;
    border-radius: 20%;
    border : 5px solid black;
    margin : 0 0 32px 32px;
}

.red{
    background-color: red;
}
.yellow{
    background-color: yellow;
}
.indigo{
    background-color: indigo;
}
.blue{
    background-color: blue;
}

.flash{
    background-color: white;
}

.userflash {
    background-color: green;
}

.end {
    background-color: red;
}